*         text=auto      # 全てのファイルのうち、テキストと判断したファイルは LF に変換する
*.txt     text           # .txt ファイルは改行コード変換を行う (上のアスタリスク * 指定に倣うので LF に変換する)
*.bat  text eol=crlf  # .bat ファイルは強制的に CRLF に変換する
*.sh      text eol-lf    # .sh ファイルは強制的に LF に変換する
*.jpg     -text          # .jpg ファイルはテキストとして解釈しない